*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: -250px;
}

.calc_exibir{
    left: 0px !important;
    transition: all 0.2s;
}

.calc_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgba(94, 79, 79, 0.812);
    background-color: rgba(90, 88, 88, 0.259);
    width: 250px;
}

.nome{
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.teclas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    flex-wrap: wrap;

}

.tecla {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border: 3px solid #888;
    border-radius: 10px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 2px;
}

.teclaop{
    background-color: #f44 !important;
    border: #800 !important;
    
}

.div_displayplay{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 225px;
    border-radius: 5px solid;
}

.display{
    width: 225px;
    background-color: #8a8;
    text-align: right;
    padding: 5px;
    border-radius: 10px;
}

.calc_aba{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 50px;
    background-color: rgba(128,128,128,0.2);
    border-radius: 0px 10px 10px 0px;
}
